
/* body {
    line-height: 1.8em;
    background: none;
    background-color: white;
    height: 6000px;
    width: 100%;
} */

body{
  background: none;
}

#section_d97td330p{
  position: absolute;
  background:#fff;
  height:400px
}

.intro{
  /* display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;
  margin-right: auto; */

  position: relative;
  /* width: 1000px; */
  /* height: 300px; */
  top: 165.21px;
/* 
  line-height: 60px; */
}

.bg-img{
  position: fixed;
  top: 0px;
  z-index: -3;
}

.bg-img img{
  width: 100%;
}

#section_w2jw92a7z{
  background: transparent;
}


#section_gg7adfidh{
  position: absolute;
  top: 910px;
  background:#fff;
  height: 900px;
  z-index: 1;
}

#section_4sokmr47p {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  background:#fff;
  height: 600px;
  top: 900.96px;
  z-index: 2;
}


#section_s3wm3gu75{
  position: absolute;
  background:#fff;
  top: 900px;
  height: 480px;
  bottom: 0;
  z-index: 1;
}

#section_rbg4u1tzl{
  position: absolute;
  background:#fff;
  top: 900px;
  height: 1300px;
  bottom: 0;
  z-index: 1;
}

#section_gn7adfidh{
  position: absolute;
  top: 900px;
  background:#fff;
  height: 900px;
  z-index: 1;
}

#section_gm7adfidh{
  position: absolute;
  top: 800px;
  background:#fff;
  height: 450px;
  z-index: 1;
}

#section_0qwq7b5bw{
  position: absolute;
  background:#fff;
  top: 800px;
  height: 1000px;
  bottom: 0;
  z-index: 1;
}

#section_gk7adfidh{
  position: absolute;
  background:#fff;
  top: 800px;
  height: 950px;
  bottom: 0;
  z-index: 1;
}

#section_gf7adfidh{
  position: absolute;
  background:#fff;
  top: 800px;
  height: 100px;
  bottom: 0;
  z-index: 1;
}

#section_0qwq5b5bw{
  position: absolute;
  background:#fff;
  top: 800px;
  height: 850px;
  bottom: 0;
  z-index: 1;
}

#section_gh7adfidh{
  position: absolute;
  background:#fff;
  top: 800px;
  height: 1150px;
  bottom: 0;
  z-index: 1;
}

footer{
  background:#fff;
  bottom: 0;
  z-index: 1;
}

.footercontainer{
  padding-top: 5%;
}
#section_qqiejmor1{
  position: absolute;
  background:#fff;
  top: 940px;
  bottom: 0;
  z-index: 1;
}

#section_8lgudxk3r{
  position: absolute;
  background:#fff;
  top: 980px;
  bottom: 0;
  z-index: 1;
}

#section_cunv48m2z{
  position: absolute;
  background:#fff;
  top: 980px;
  bottom: 0;
  z-index: 1;
}

#section_8lgudxk3r{
  position: absolute;
  background:#fff;
  top: 940px;
  height: 1800px;
  bottom: 0;
  z-index: 1;
}

#section_3ddc7a236{
  position: absolute;
  background:#fff;
  top: 400px;
  height: 700px;
  bottom: 0;
  z-index: 1;
}

#section_88fbaa4be{
  position: absolute;
  background:#fff;
  height:1200px;
  bottom: 0;
  z-index: 1;
}

.bg-light {
  background-color: #fff !important;
}

#prototype{
  z-index: 1;
  position: absolute;
  justify-content: center;
}

.font_2fuhd72et, [data-font="font_2fuhd72et"], [data-font="font_2fuhd72et"] li a {
  font-family: "europa", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font_acg6rwb1e, [data-font="font_acg6rwb1e"], [data-font="font_acg6rwb1e"] li a {
  font-family: "europa", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_1dpc47du4, [data-font="font_1dpc47du4"], [data-font="font_1dpc47du4"] li a {
  font-family: "europa", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font_pl8nlfgp7, [data-font="font_pl8nlfgp7"], [data-font="font_pl8nlfgp7"] li a {
  font-family: "europa", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font_16ald3cqq, [data-font="font_16ald3cqq"], [data-font="font_16ald3cqq"] li a {
  font-family: "europa", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font_bl3the539, [data-font="font_bl3the539"], [data-font="font_bl3the539"] li a {
  font-family: "europa", sans-serif;
  font-weight: 300;font-style: italic;
}

.font_k0ixjyago, [data-font="font_k0ixjyago"], [data-font="font_k0ixjyago"] li a {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_i90nfbv9w, [data-font="font_i90nfbv9w"], [data-font="font_i90nfbv9w"] li a {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font_shi8d64tg, [data-font="font_shi8d64tg"], [data-font="font_shi8d64tg"] li a {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font_n9wcytiar, [data-font="font_n9wcytiar"], [data-font="font_n9wcytiar"] li a {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font_iv8gu84l8, [data-font="font_iv8gu84l8"], [data-font="font_iv8gu84l8"] li a {
  font-family: "Karla Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font_k2sy9wm0u, [data-font="font_k2sy9wm0u"], [data-font="font_k2sy9wm0u"] li a {
  font-family: "Inter", sans-serif;
  font-weight: 300;font-style: normal;
}

.font_3qmflxvbd, [data-font="font_3qmflxvbd"], [data-font="font_3qmflxvbd"] li a, #content-holder p, #content-holder li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_u5ys1fed3, [data-font="font_u5ys1fed3"], [data-font="font_u5ys1fed3"] li a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font_3zzun8rvt, [data-font="font_3zzun8rvt"], [data-font="font_3zzun8rvt"] li a, #content-holder h4, #content-holder h5 {font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font_x6tx5d5fi, [data-font="font_x6tx5d5fi"], [data-font="font_x6tx5d5fi"] li a, #content-holder h1, #content-holder h2{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media screen and (min-width: 1170px) {
    .container-fluid, .container, .admin-container {
      padding: 0 0rem 0 0rem;
    }
  }
.container {
max-width: 1170px;
}@media screen and (max-width: 1169px) { .row {
margin-left: -2.5px;
margin-right: -2.5px;
}.column, .grid-column {
padding-left: 2.5px;
padding-right: 2.5px;
}}@media screen and (min-width: 1170px) { .row {
margin-left: -5px;
margin-right: -5px;
}.column, .grid-column {
padding-left: 5px;
padding-right: 5px;
}}
#content-holder h1 { font-size: 2.6666666666666665rem;line-height: 3.0555555555555554rem;}#content-holder h2 { line-height: 2.7777777777777777rem;}#content-holder h4 { line-height: 1.8888888888888888rem;}#content-holder h5 { font-size: 1.1111111111111112rem;}#content-holder p, #content-holder li { font-size: 0.8888888888888888rem;line-height: 1.6666666666667;letter-spacing: 0rem;}#content-holder .is-content p { margin-bottom: 1.6666666666667em; }@media screen and (min-width: 992px) and (max-width: 1169.98px) { #content-holder h1 { font-size: 2.45rem; line-height: 2.81rem; }#content-holder h2 { font-size: 1.84rem; line-height: 2.56rem; }#content-holder h3 { font-size: 1.49rem; line-height: 1.92rem; }#content-holder h4 { font-size: 1.28rem; line-height: 1.81rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }}@media screen and (min-width: 768px) and (max-width: 991.98px) { #content-holder h1 { font-size: 2.29rem; line-height: 2.63rem; }#content-holder h2 { font-size: 1.76rem; line-height: 2.44rem; }#content-holder h3 { font-size: 1.43rem; line-height: 1.84rem; }#content-holder h4 { font-size: 1.23rem; line-height: 1.74rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }}@media screen and (min-width: 544px) and (max-width: 767.98px) { #content-holder h1 { font-size: 2.19rem; line-height: 2.51rem; }#content-holder h2 { font-size: 1.68rem; line-height: 2.33rem; }#content-holder h3 { font-size: 1.4rem; line-height: 1.8rem; }#content-holder h4 { font-size: 1.2rem; line-height: 1.7rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }}

@media screen and (max-width: 543.98px) { #content-holder h1 { font-size: 2.08rem; line-height: 2.38rem; }#content-holder h2 { font-size: 1.6rem; line-height: 2.22rem; }#content-holder h3 { font-size: 1.37rem; line-height: 1.76rem; }#content-holder h4 { font-size: 1.17rem; line-height: 1.66rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }

.background-video img{
  height:100%;
}

.bg-img{
  position: fixed;
  top: 0px;
  z-index: -3;
}

.bg-img img{
  width: 200%;
}

#section_d97td330p{
  position: absolute;
  background:#fff;
  height:600px
}

#section_gg7adfidh{
  position: absolute;
  top: 410px;
  background:#fff;
  height: 1380px;
  z-index: 1;
}

#section_4sokmr47p {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  background:#fff;
  height: 800px;
  top: 400.96px;
  z-index: 2;
}


#section_s3wm3gu75{
  position: absolute;
  background:#fff;
  top: 400px;
  height: 700px;
  bottom: 0;
  z-index: 1;
}

#section_rbg4u1tzl{
  position: absolute;
  background:#fff;
  top: 350px;
  height: 440px;
  bottom: 0;
  z-index: 1;
}

#section_gn7adfidh{
  position: absolute;
  top: 347px;
  background:#fff;
  height: 780px;
  z-index: 1;
}

#section_gm7adfidh{
  position: absolute;
  top: 340px;
  background:#fff;
  height: 650px;
  z-index: 1;
}

#section_0qwq7b5bw{
  position: absolute;
  background:#fff;
  top: 320px;
  height: 1250px;
  bottom: 0;
  z-index: 1;
}

#section_gk7adfidh{
  position: absolute;
  background:#fff;
  top: 310px;
  height:800px;
  bottom: 0;
  z-index: 1;
}

#section_gf7adfidh{
  position: absolute;
  background:#fff;
  top: 300px;
  height: 200px;
  bottom: 0;
  z-index: 1;
}

#section_0qwq5b5bw{
  position: absolute;
  background:#fff;
  top: 280px;
  height: 850px;
  bottom: 0;
  z-index: 1;
}

#section_gh7adfidh{
  position: absolute;
  background:#fff;
  top: 260px;
  height: 800px;
  bottom: 0;
  z-index: 1;
}

#section_qqiejmor1{
  position: absolute;
  background:#fff;
  top: 940px;
  bottom: 0;
  z-index: 1;
}

#section_8lgudxk3r{
  position: absolute;
  background:#fff;
  top: 980px;
  bottom: 0;
  z-index: 1;
}

#section_cunv48m2z{
  position: absolute;
  background:#fff;
  top: 980px;
  bottom: 0;
  z-index: 1;
}

#section_8lgudxk3r{
  position: absolute;
  background:#fff;
  top: 940px;
  height: 1800px;
  bottom: 0;
  z-index: 1;
}

#section_3ddc7a236{
  position: absolute;
  background:#fff;
  top: 400px;
  height: 700px;
  bottom: 0;
  z-index: 1;
}

#section_88fbaa4be{
  position: absolute;
  background:#fff;
  height:600px;
  bottom: 0;
  z-index: 1;
}
}


.project-panel {
background: #f5f5f5;
padding: 2.5rem 0rem;
}
.pp-thumbs {
margin-bottom: -1.666666666666667rem;
}
#content-holder .panel-label, .projectpanel-preview .panel-label {
color: #000000;
font-size: 1.6666666666666667rem;
text-transform: none;
padding-left: 0rem;
padding-bottom: 1.666666666666667rem;
text-align: left;
line-height: 1;
}
.project-panel .pp-title {
padding: 0.5555555555555556rem 0rem 1.666666666666667rem 0rem;
}
.project-panel .pp-title a {
color: #000000; 
font-size: 0.7222222222222222rem; 
text-transform: none;
} 
.project-panel .pp-title span {
color: #999999;
font-size: 0.7222222222222222rem;
text-transform: none;
}

.is-content { color: #4f4f4f; }a { color: #6b6b6b; }a:hover { color: #a5a5a5; }// 2021 page //
.hide-for-mobile {display: none !important}

// 2020 page //
.Rectangle {
width: 733px;
height: 600px;
box-shadow: 40px 0 100px 0 rgba(30, 21, 82, 0.05);
background-color: #ffffff;
}



// 2019 page //

.neomorphic {
box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
border-radius: 20px 0px 0px 20px;
}

.airbnb {
background: linear-gradient(108.43deg, #E55157 0%, #E54F7A 100%);
/* Neomorphic */
box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
border-radius: 10px;
}

.neomorphicimage {
box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
border-radius: 20px;
}#nprogress .bar { background: #efeaff; }.back-to-top a svg { fill: #8c8c8c; }}