.font_2fuhd72et, [data-font="font_2fuhd72et"], [data-font="font_2fuhd72et"] li a {
    font-family: "europa", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .font_acg6rwb1e, [data-font="font_acg6rwb1e"], [data-font="font_acg6rwb1e"] li a {
    font-family: "europa", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font_1dpc47du4, [data-font="font_1dpc47du4"], [data-font="font_1dpc47du4"] li a {
    font-family: "europa", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .font_pl8nlfgp7, [data-font="font_pl8nlfgp7"], [data-font="font_pl8nlfgp7"] li a {
    font-family: "europa", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .font_16ald3cqq, [data-font="font_16ald3cqq"], [data-font="font_16ald3cqq"] li a {
    font-family: "europa", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .font_bl3the539, [data-font="font_bl3the539"], [data-font="font_bl3the539"] li a {
    font-family: "europa", sans-serif;
    font-weight: 300;font-style: italic;
  }
  
  .font_k0ixjyago, [data-font="font_k0ixjyago"], [data-font="font_k0ixjyago"] li a {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font_i90nfbv9w, [data-font="font_i90nfbv9w"], [data-font="font_i90nfbv9w"] li a {
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .font_shi8d64tg, [data-font="font_shi8d64tg"], [data-font="font_shi8d64tg"] li a {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font_n9wcytiar, [data-font="font_n9wcytiar"], [data-font="font_n9wcytiar"] li a {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .font_iv8gu84l8, [data-font="font_iv8gu84l8"], [data-font="font_iv8gu84l8"] li a {
    font-family: "Karla Bold", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .font_k2sy9wm0u, [data-font="font_k2sy9wm0u"], [data-font="font_k2sy9wm0u"] li a {
    font-family: "Inter", sans-serif;
    font-weight: 300;font-style: normal;
  }
  
  .font_3qmflxvbd, [data-font="font_3qmflxvbd"], [data-font="font_3qmflxvbd"] li a, #content-holder p, #content-holder li {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font_u5ys1fed3, [data-font="font_u5ys1fed3"], [data-font="font_u5ys1fed3"] li a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font_3zzun8rvt, [data-font="font_3zzun8rvt"], [data-font="font_3zzun8rvt"] li a, #content-holder h4, #content-holder h5 {font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .font_x6tx5d5fi, [data-font="font_x6tx5d5fi"], [data-font="font_x6tx5d5fi"] li a, #content-holder h1, #content-holder h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


  @media screen and (min-width: 1170px) {
    .container-fluid, .container, .admin-container {
      padding: 0 0rem 0 0rem;
    }
  }

  .container {
max-width: 1170px;
}

@media screen and (max-width: 1169px) { .row {
margin-left: -2.5px;
margin-right: -2.5px;
}.column, .grid-column {
padding-left: 2.5px;
padding-right: 2.5px;
}}

@media screen and (min-width: 1170px) { .row {
margin-left: -5px;
margin-right: -5px;
}.column, .grid-column {
padding-left: 5px;
padding-right: 5px;
}}
#content-holder h1 { font-size: 2.6666666666666665rem;line-height: 3.0555555555555554rem;}#content-holder h2 { line-height: 2.7777777777777777rem;}#content-holder h4 { line-height: 1.8888888888888888rem;}#content-holder h5 { font-size: 1.1111111111111112rem;}#content-holder p, #content-holder li { font-size: 0.8888888888888888rem;line-height: 1.6666666666667;letter-spacing: 0rem;}#content-holder .is-content p { margin-bottom: 1.6666666666667em; }

@media screen and (min-width: 992px) and (max-width: 1169.98px) { #content-holder h1 { font-size: 2.45rem; line-height: 2.81rem; }#content-holder h2 { font-size: 1.84rem; line-height: 2.56rem; }#content-holder h3 { font-size: 1.49rem; line-height: 1.92rem; }#content-holder h4 { font-size: 1.28rem; line-height: 1.81rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }}

@media screen and (min-width: 768px) and (max-width: 991.98px) { #content-holder h1 { font-size: 2.29rem; line-height: 2.63rem; }#content-holder h2 { font-size: 1.76rem; line-height: 2.44rem; }#content-holder h3 { font-size: 1.43rem; line-height: 1.84rem; }#content-holder h4 { font-size: 1.23rem; line-height: 1.74rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }}

@media screen and (min-width: 544px) and (max-width: 767.98px) { #content-holder h1 { font-size: 2.19rem; line-height: 2.51rem; }#content-holder h2 { font-size: 1.68rem; line-height: 2.33rem; }#content-holder h3 { font-size: 1.4rem; line-height: 1.8rem; }#content-holder h4 { font-size: 1.2rem; line-height: 1.7rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }}

@media screen and (max-width: 543.98px) { #content-holder h1 { font-size: 2.08rem; line-height: 2.38rem; }#content-holder h2 { font-size: 1.6rem; line-height: 2.22rem; }#content-holder h3 { font-size: 1.37rem; line-height: 1.76rem; }#content-holder h4 { font-size: 1.17rem; line-height: 1.66rem; }#content-holder h5 { font-size: 1.11rem; line-height: 1.78rem; }#content-holder h6 { font-size: 1rem; line-height: 1.67rem; }

.background-video img{
  height:100%;
}
}
    
    
.project-panel {
    background: #f5f5f5;
    padding: 2.5rem 0rem;
}
.pp-thumbs {
    margin-bottom: -1.666666666666667rem;
}
#content-holder .panel-label, .projectpanel-preview .panel-label {
    color: #000000;
    font-size: 1.6666666666666667rem;
    text-transform: none;
    padding-left: 0rem;
    padding-bottom: 1.666666666666667rem;
    text-align: left;
    line-height: 1;
}
.project-panel .pp-title {
    padding: 0.5555555555555556rem 0rem 1.666666666666667rem 0rem;
}
.project-panel .pp-title a {
    color: #000000; 
    font-size: 0.7222222222222222rem; 
    text-transform: none;
} 
.project-panel .pp-title span {
    color: #999999;
    font-size: 0.7222222222222222rem;
    text-transform: none;
}

.is-content { color: #4f4f4f; }a { color: #6b6b6b; }a:hover { color: #a5a5a5; }// 2021 page //
.hide-for-mobile {display: none !important}

.Rectangle {
width: 733px;
height: 600px;
box-shadow: 40px 0 100px 0 rgba(30, 21, 82, 0.05);
background-color: #ffffff;
}


.neomorphic {
box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
border-radius: 20px 0px 0px 20px;
}

.airbnb {
background: linear-gradient(108.43deg, #E55157 0%, #E54F7A 100%);
/* Neomorphic */
box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
border-radius: 10px;
}

.neomorphicimage {
box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
border-radius: 20px;
}#nprogress .bar { background: #efeaff; }.back-to-top a svg { fill: #8c8c8c; }


    .cover-transparent { 
        background: rgba(0,0,0,0) !important; 
    }
    
    #content-302 .sections { 
        margin-top: 0px !important; 
    }
    
    #content-302 #cover-302 > .background-video {
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: scroll;
        background-color: #020202;
    }
    
    #content-302 #cover-302 > .background-video video { 
        opacity: 0.75; 
    }
    
    #content-302 #column_vtrase99n {
        padding-top: 5.555555555555555rem;
        padding-bottom: 5.555555555555555rem;
        background-color: transparent;
    }
    
    #content-302 #content_dyyji20zi {
        margin-top: 0rem;
    }

    #content-302 #content_dyyji20zi .is-content {
        text-shadow: 0rem 0rem 2.7777777777777777rem rgba(32,21,131,0);
    }

    #content-302 #content_qkrpafcb4 {
        padding-top: 0rem;
        margin-top: 0rem;
        margin-right: 0rem;
        margin-bottom: 0rem;
    }

    #content-302 #content_qkrpafcb4 .is-content {
        text-shadow: 0rem 0.5555555555555556rem 2.7777777777777777rem rgba(32,21,131,0);
    }

    /* #content-302 #content_r5zivawxd {} */
    #content-302 #content_r5zivawxd .is-content {
        text-shadow: 0rem 0.5555555555555556rem 2.7777777777777777rem rgba(0,0,0,0);
    }

    /* #content-302 #content_ni29ywp3e {} */

    #content-302 #content_ni29ywp3e .is-content {
        text-shadow: 0rem 0.5555555555555556rem 2.7777777777777777rem rgba(0,0,0,0);
    }

    /* #content-302 #section_wk3d92dv7 > .background-video {} */
    
    #content-302 #section_wk3d92dv7 {
        padding-top: 8.88888888888889rem;
        margin-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;}
    
    @media screen and (max-width: 543.98px) { #content-302 #section_wk3d92dv7 {
        padding-top: 5.555555555555555rem;
        padding-bottom: 5.555555555555555rem;
    }}
    
    #content-302 #column_pwr7komj2 {
        padding-top: 0rem;}

    #content-302 #content_zkw89v3t4 {
        padding-top: 0rem;}

    /* #content-302 #content_zkw89v3t4 .is-content {} */

    #content-302 #content_7ypv7aqfm {
        margin-top: 0.6666666666666666rem;
        margin-bottom: 1.3333333333333333rem;
    }

    /* #content-302 #content_7ypv7aqfm .is-content {} */

    #content-302 #content_8j4alqy1p {margin-top: 1.3333333333333333rem;
    }

    /* #content-302 #content_8j4alqy1p .is-content {} */

    #content-302 #content_j0se69ex6 .is-content {
        background-color: transparent;}

    #content-302 #content_j0se69ex6 .is-content:hover {
        background-color: transparent !important;
        color: #686868 !important;}

    #content-302 #content_j0se69ex6 .is-content a{
        font-size: 1rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #686868;
        letter-spacing: 0.027777777777777776rem;
        margin-right: -0.027777777777777776rem;
    }

    #content-302 #content_j0se69ex6 .is-content:hover a {
        letter-spacing: 0.027777777777777776rem !important;
        margin-right: -0.027777777777777776rem;
        /* color: #CBB341 !important; */
    }

    #content-302 #content_j0se69ex6 {
        padding-top: 1.7777777777777777rem;
        padding-left: 0.5555555555555556rem;
    }

    /* #content-302 #content_j0se69ex6 .is-content {} */

    @media screen and (max-width: 543.98px) { 
        #content-302 #column_ja0yvznxi {
            height: 1.6666666666666667rem;
            order: 1;
        }}
        
        #content-302 #content_qqsp7arqh {
            margin-left: 5.555555555555555rem;
        }
        
        #content-302 #content_qqsp7arqh .is-content {}
        
        @media screen and (max-width: 543.98px) { 
            #content-302 #content_qqsp7arqh {
                margin-left: 0rem;}
                
            /* #content-302 #content_qqsp7arqh .is-content {} */
        }
    
    #content-302 #content_mvh7iisxh {
        margin-left: 8.333333333333334rem;
        background-color: transparent;
    }
    
    /* #content-302 #content_mvh7iisxh .is-content {} */

    @media screen and (max-width: 543.98px) { 
        #content-302 #content_mvh7iisxh {
            margin-top: -26.666666666666668rem;
            margin-left: 22.22222222222222rem;
        }
        
        /* #content-302 #content_mvh7iisxh .is-content {} */
    }
    
    /* #content-302 #section_9opph6sj0 > .background-video {} */
    
    #content-302 #section_9opph6sj0 {
        padding-top: 8.88888888888889rem;
        margin-top: 0rem;
        margin-right: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }
        
    @media screen and (max-width: 543.98px) { 
        #content-302 #section_9opph6sj0 {
            padding-top: 5.555555555555555rem;
        }
    }

    /* #content-302 #section_8opph6sj0 > .background-video {} */
    
    #content-302 #section_8opph6sj0 {
        padding-top: 8.88888888888889rem;
        margin-top: 0rem;
        margin-right: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }
        
    @media screen and (max-width: 543.98px) { 
        #content-302 #section_8opph6sj0 {
            padding-top: 5.555555555555555rem;
        }
    }
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #column_oik3g1vmq {order: 3;}
    }
    
    #content-302 #content_z7gk7jge9 {
        margin-left: -8.333333333333334rem;
        background-color: transparent;
    }
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #column_lik3g1vmq {order: 3;}
    }

    /* #content-302 #content_z7gk7jge9 .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_z7gk7jge9 {
            padding-top: 0rem;
            margin-top: -26.666666666666668rem;
            padding-right: 0rem;
            padding-bottom: 0rem;
            margin-left: 22.22222222222222rem;
        }
        
        /* #content-302 #content_z7gk7jge9 .is-content {} */
    }


    #content-302 #content_yov1sbjo1 {
        margin-left: -5.555555555555555rem;
    }
    
    /* #content-302 #content_yov1sbjo1 .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_yov1sbjo1 {
            margin-left: 0rem;
        }
        
        /* #content-302 #content_yov1sbjo1 .is-content {} */
    }

    #content-302 #content_z8gk8jge9 {
        margin-left: -8.333333333333334rem;
        background-color: transparent;
    }
    
    /* #content-302 #content_z8gk8jge9 .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_z8gk8jge9 {
            padding-top: 0rem;
            margin-top: -26.666666666666668rem;
            padding-right: 0rem;
            padding-bottom: 0rem;
            margin-left: 22.22222222222222rem;
        }
        
        /* #content-302 #content_z8gk8jge9 .is-content {} */
    }

    #content-302 #content_yov2sbjo2 {
        margin-left: -5.555555555555555rem;
    }
    
    /* #content-302 #content_yov2sbjo2 .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_yov2sbjo2 {
            margin-left: 0rem;
        }
        
        /* #content-302 #content_yov2sbjo2 .is-content {} */
    }
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #column_75r6t7qun {
            height: 1.6666666666666667rem;
        }
    }

    #content-302 #column_jbj3hblu0 {
        padding-top: 0rem;
    }

    #content-302 #content_cwwz0quoq {
        padding-top: 0rem;
    }
    
    /* #content-302 #content_cwwz0quoq .is-content {} */
    @media screen and (max-width: 543.98px) { 
        #content-302 #column_85r6t8qun {
            height: 1.6666666666666667rem;
        }
    }
    
    #content-302 #column_jbj4hblu0 {
        padding-top: 0rem;
    }
    
    #content-302 #content_cwwz1quoq {
        padding-top: 0rem;
    }
    
    /* #content-302 #content_cwwz1quoq .is-content {} */
    
    
    #content-302 #content_yeuvwiz6e {
        margin-top: 0.6666666666666666rem;
        margin-bottom: 1.3333333333333333rem;
    }
    
    /* #content-302 #content_yeuvwiz6e .is-content {} */
    
    #content-302 #content_60hp972lm {
        margin-top: 1.3333333333333333rem;
    }
    
    /* #content-302 #content_60hp972lm .is-content {} */

    #content-302 #content_6no0aw9uc .is-content {
        background-color: transparent;
    }

    #content-302 #content_6no0aw9uc .is-content:hover {
        background-color: transparent !important;
        color: #686868 !important;
    }

    #content-302 #content_6no0aw9uc .is-content a{
        font-size: 1rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #686868;
        letter-spacing: 0.027777777777777776rem;
        margin-right: -0.027777777777777776rem;
    }

    #content-302 #content_6no0aw9uc .is-content:hover a {
        letter-spacing: 0.027777777777777776rem !important;
        margin-right: -0.027777777777777776rem;
        color: #385F80 !important;
    }

    #content-302 #content_6no0aw9uc {
        padding-top: 1.7777777777777777rem;
        padding-left: 0.5555555555555556rem;
    }
    
    /* #content-302 #content_6no0aw9uc .is-content {} */

    /* #content-302 #section_2ytk5iwf7 > .background-video {} */
    
    #content-302 #section_2ytk5iwf7 {
        padding-top: 8.88888888888889rem;
        margin-top: 0rem;
        margin-right: 0rem;
        /* padding-bottom: 8.88888888888889rem; */
        margin-bottom: 0rem;
    }

    #content-302 #content_6no0aw8uc .is-content {
        background-color: transparent;
    }

    #content-302 #content_6no0aw8uc .is-content:hover {
        background-color: transparent !important;
        color: #686868 !important;
    }

    #content-302 #content_6no0aw8uc .is-content a{
        font-size: 1rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #686868;
        letter-spacing: 0.027777777777777776rem;
        margin-right: -0.027777777777777776rem;
    }
    
    #content-302 #content_6no0aw8uc .is-content:hover a {
        letter-spacing: 0.027777777777777776rem !important;
        margin-right: -0.027777777777777776rem;
        color: #175232 !important;
    }

    #content-302 #content_6no0aw8uc {
        padding-top: 1.7777777777777777rem;
        padding-left: 0.5555555555555556rem;
    }
    
    /* #content-302 #content_6no0aw8uc .is-content {} */
    /* #content-302 #section_2ytk6iwf9 > .background-video {} */
    
    #content-302 #section_2ytk6iwf9 {
        padding-top: 8.88888888888889rem;
        margin-top: 0rem;
        margin-right: 0rem;
        /* padding-bottom: 8.88888888888889rem; */
        margin-bottom: 0rem;
    }

    @media screen and (max-width: 543.98px) { 
        #content-302 #section_2ytk6iwf9 {
            padding-top: 5.555555555555555rem;
        }
    }

    /* #content-302 #section_2ytk5iwf7 > .background-video {} */
    
    #content-302 #section_2ytk5iwf7 {
        padding-top: 8.88888888888889rem;
        margin-top: 0rem;
        margin-right: 0rem;
        padding-bottom: 8.88888888888889rem;
        margin-bottom: 0rem;
    }

    @media screen and (max-width: 543.98px) { 
        #content-302 #section_2ytk5iwf7 {
            padding-top: 5.555555555555555rem;
        }
    }
    
    #content-302 #column_xuk3mnvaa {
        padding-top: 0rem;
    }

    #content-302 #column_xuk5mnvaa {
        padding-top: 0rem;
    }
    
    #content-302 #content_vgoinphxh {
        padding-top: 0rem;
    }
    
    /* #content-302 #content_vgoinphxh .is-content {} */
    
    
    #content-302 #content_x6x9lufsl {
        margin-top: 0.6666666666666666rem;
        margin-bottom: 1.3333333333333333rem;
    }

    /* #content-302 #content_x6x9lufsl .is-content {} */
    
    #content-302 #content_st44tlrp8 {
        margin-top: 1.3333333333333333rem;
    }
    
    /* #content-302 #content_st44tlrp8 .is-content {} */

    #content-302 #content_st54tlrp8 {
        margin-top: 1.3333333333333333rem;
    }
    
    /* #content-302 #content_st54tlrp8 .is-content {} */

    #content-302 #content_5zea1hvl8 .is-content {
        background-color: transparent;
    }

    #content-302 #content_5zea1hvl8 .is-content:hover {
        background-color: transparent !important;
        color: #686868 !important;
    }

    #content-302 #content_5zea1hvl8 .is-content a{
        font-size: 1rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #686868;
        letter-spacing: 0.027777777777777776rem;
        margin-right: -0.027777777777777776rem;
    }

    #content-302 #content_5zea1hvl8 .is-content:hover a {
        letter-spacing: 0.027777777777777776rem !important;
        margin-right: -0.027777777777777776rem;
        color: #7BB389 !important;
    }

    #content-302 #content_5zea1hvl8 {
        padding-top: 1.7777777777777777rem;
        padding-left: 0.5555555555555556rem;
    }

    /* #content-302 #content_5zea1hvl8 .is-content {} */

    #content-302 #content_5zea2hvl6 .is-content {
        background-color: transparent;
    }

    #content-302 #content_5zea2hvl6 .is-content:hover {
        background-color: transparent !important;
        color: #686868 !important;
    }

    #content-302 #content_5zea2hvl6 .is-content a{
        font-size: 1rem;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #686868;
        letter-spacing: 0.027777777777777776rem;
        margin-right: -0.027777777777777776rem;
    }

    #content-302 #content_5zea2hvl6 .is-content:hover a {
        letter-spacing: 0.027777777777777776rem !important;
        margin-right: -0.027777777777777776rem;
        color: #00C7F2 !important;
    }

    #content-302 #content_5zea2hvl6 {
        padding-top: 1.7777777777777777rem;
        padding-left: 0.5555555555555556rem;
    }

    /* #content-302 #content_5zea2hvl6 .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #column_5x195pmof {height: 1.6666666666666667rem;}
    }

    @media screen and (max-width: 543.98px) { 
        #content-302 #column_5x185pmof {height: 1.6666666666666667rem;}
    }
    
    
    #content-302 #content_lt42gilis {
        margin-left: 5.555555555555555rem;
    }
    
    /* #content-302 #content_lt42gilis .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_lt42gilis {
            margin-left: 0rem;
        }
        
        /* #content-302 #content_lt42gilis .is-content {} */
    }

    @media screen and (max-width: 543.98px) { 
        #content-302 #column_4j73kfptu {
            order: 3;
        }
    }

    #content-302 #content_lt51gilis {
        margin-left: 5.555555555555555rem;
    }
    
    /* #content-302 #content_lt51gilis .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_lt51gilis {
            margin-left: 0rem;
        }
        
        /* #content-302 #content_lt51gilis .is-content {} */
    }

    @media screen and (max-width: 543.98px) { 
        #content-302 #column_5j73kfptu {
            order: 5;
        }
    }

    #content-302 #content_wptwqf8op {
        margin-left: 8.333333333333334rem;
        background-color: transparent;
    }
    
    /* #content-302 #content_wptwqf8op .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_wptwqf8op {
            padding-top: 0rem;
            margin-top: -26.666666666666668rem;
            padding-right: 0rem;
            padding-bottom: 0rem;
            margin-left: 22.22222222222222rem;
        }
        
        /* #content-302 #content_wptwqf8op .is-content {} */
    }
    
    /* #content-302 .transition-wrap {} */

    #content-302 #content_wptwqf5op {
        margin-left: 8.333333333333334rem;
        background-color: transparent;
    }
    
    /* #content-302 #content_wptwqf5op .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_wptwqf5op {
            padding-top: 0rem;
            margin-top: -26.666666666666668rem;
            padding-right: 0rem;
            padding-bottom: 0rem;
            margin-left: 22.22222222222222rem;
        }
        
        /* #content-302 #content_wptwqf5op .is-content {} */
    }

    #content-302 #column_pwr7komj2 {
        opacity: 0;
        transform: translateX(-5.555555555555555rem) translateY(0rem);
    }
    
    #content-302 #content_j0se69ex6 {
        transform: translateX(-0.5555555555555556rem) translateY(0rem);
    }
    
    #content-302 #content_qqsp7arqh {
        transform: translateX(2.7777777777777777rem) translateY(0rem);
    }
    
    #content-302 #content_mvh7iisxh {
        transform: translateX(11.11111111111111rem) translateY(0rem);
    }
    
    #content-302 #content_z7gk7jge9 {
        transform: translateX(-11.11111111111111rem) translateY(0rem);
    }
    
    #content-302 #content_z8gk8jge9 {
        transform: translateX(-11.11111111111111rem) translateY(0rem);
    }

    #content-302 #content_yov1sbjo1 {
        transform: translateX(-2.7777777777777777rem) translateY(0rem);
    }
    
    #content-302 #column_jbj4hblu0 {
        opacity: 0;transform: translateX(5.555555555555555rem) translateY(0rem);
    }

    #content-302 #content_yov2sbjo2 {
        transform: translateX(-2.7777777777777777rem) translateY(0rem);
    }

    #content-302 #column_jbj4hblu0 {
        opacity: 0;transform: translateX(5.555555555555555rem) translateY(0rem);
    }
    
    #content-302 #content_6no0aw9uc {
        transform: translateX(-0.5555555555555556rem) translateY(0rem);
    }

    #content-302 #content_6no0aw8uc {
        transform: translateX(-0.5555555555555556rem) translateY(0rem);
    }
    
    #content-302 #column_xuk3mnvaa {
        opacity: 0;transform: translateX(-5.555555555555555rem) translateY(0rem);
    }
    
    #content-302 #column_xuk5mnvaa {
        opacity: 0;transform: translateX(-5.555555555555555rem) translateY(0rem);
    }

    #content-302 #content_5zea1hvl8 {
        transform: translateX(-0.5555555555555556rem) translateY(0rem);
    }

    #content-302 #content_5zea2hvl6 {
        transform: translateX(-0.5555555555555556rem) translateY(0rem);
    }
    
    #content-302 #content_lt42gilis {
        transform: translateX(2.7777777777777777rem) translateY(0rem);
    }
   
    #content-302 #content_wptwqf8op {
        transform: translateX(0rem) translateY(0rem);
    }

    #content-302 #content_lt51gilis {
        transform: translateX(2.7777777777777777rem) translateY(0rem);
    }

    #content-302 #content_wptwqf5op {
        transform: translateX(11.11111111111111rem) translateY(0rem);
    }
    
    #content-302 #section_1e6bdf64e {
        padding-top: 5.555555555555555rem;padding-right: 0rem;
        padding-bottom: 5.555555555555555rem;background-color: #f9f9f9;
    }
    
    #content-302 #content_275928cd6 {
        padding-bottom: 1.7777777777777777rem;
    }
    
    /* #content-302 #content_275928cd6 .is-content {} */

    #content-302 #content_ee413c45d .is-content {
        background-color: transparent;
    }

    #content-302 #content_ee413c45d .is-content:hover {
        color: #6b6b6b !important;
        background-color: transparent !important;
    }

    #content-302 #content_ee413c45d .is-content a{
        padding-top: 0.4444444444444444rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        color: #6b6b6b;
    }

    #content-302 #content_ee413c45d .is-content:hover a {
        color: #a5a5a5 !important;
    }

    @media screen and (max-width: 543.98px) { 
        #content-302 #column_00e124c81 {
            padding-top: 1.6666666666666667rem;
        }
    }
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #content_0b33d9eb2 {
            padding-top: 0rem;
        }
        
        /* #content-302 #content_0b33d9eb2 .is-content {} */
    }
        
    #content-302 #content_8eef7907c {
        padding-top: 0.4444444444444444rem;
    }
    
    /* #content-302 #content_8eef7907c .is-content {} */
    
    @media screen and (max-width: 543.98px) { 
        #content-302 #column_e724516ea {
            padding-top: 1.6666666666666667rem;
        }
    }
    
    #content-302 #content_091716421 {
        padding-top: 0.4444444444444444rem;
    }
    
    /* #content-302 #content_091716421 .is-content {} */

    .nav_a4k4mp84b { 
        background-color: transparent; 
    }
    
    .nav_a4k4mp84b .navbar-inner .logo a { 
        color: #fff; 
    }
    
    .nav_a4k4mp84b .navbar-inner .logo a { 
        font-size: 0.8888888888888888rem; 
    }
    
    .logo a { 
        text-transform: uppercase; 
    }
    
    .logo a { 
        letter-spacing: 0.08333333333333333rem; 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
        background-color: #000000; 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon { 
        width: 24; 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
        height: 2px; 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.open-menu span::before { 
        transform: translateY(-6px); 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.open-menu span::after { 
        transform: translateY(6px);
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.open-menu:hover span::before { 
        transform: translateY(-8px); 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.open-menu:hover span::after { 
        transform: translateY(8px); 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon { 
        height: 14px; 
    }
    
    .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
        margin-top: 7px; 
    }
    
    
    .nav_a4k4mp84b .navbar-inner nav ul li a:hover span, .navbar-inner nav ul li.current-menu-item a span, .navbar-inner nav ul li.current_page_item a span, .nav_a4k4mp84b .navbar-inner nav ul li.wrap-focus a span { 
        color: black; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li.current-menu-item a span { 
        color: black; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li.current_page_item a span { 
        color: black; 
    }
    
    [data-post-type="project"] .navbar-inner nav ul li.portfolio-grid a span, [data-post-type="post"] .navbar-inner nav ul li.blog-overview a span { 
        color: black; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li a:hover span { 
        border-bottom-color: black; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li.current-menu-item a span { 
        border-bottom-color: black; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li.current_page_item a span { 
        border-bottom-color: black; 
    }
    

    .nav_a4k4mp84b .navbar-inner nav ul li a span { 
        color: #fff; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li a span { 
        text-transform: none; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li a span { 
        letter-spacing: 0rem; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li a span { 
        border-bottom-width: 0.05555555555555555rem; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li a span { 
        border-bottom-color: transparent; 
    }
    
    .nav_a4k4mp84b .navbar-inner nav ul li a span { 
        padding-bottom: 0rem; 
    }
    [data-post-type="project"] .navbar-inner nav ul li.portfolio-grid a span, [data-post-type="post"] .navbar-inner nav ul li.blog-overview a span { 
        border-bottom-color: #ffffff; 
    }
    
    #overlay-menu { 
        background-color: rgba(245, 245, 245, 1); 
    }
    
    @media screen and (min-width: 992px) and (max-width: 1169.98px) { 
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon { 
            height: 14px; 
        }
        
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
            margin-top: 7px; 
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 991.98px) { 
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon { 
            height: 14px; 
        }
        
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
            margin-top: 7px; 
        }
    }
    
    @media screen and (min-width: 544px) and (max-width: 767.98px) { 
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon { 
            height: 14px; 
        }
        
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
            margin-top: 7px; 
        }
    }
    
    @media screen and (max-width: 543.98px) { 
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon { 
            height: 14px; 
        }
        
        .nav_a4k4mp84b .navbar-inner .hamburger a.menu-icon span { 
            margin-top: 7px; 
        }
    }

    #about1{
        text-align: center;
        justify-content: center;
        margin-top: 30%;
        
    }
  
      #about1a img{
        width:100%;
        border: 0;
        justify-content: center;
        box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
        /* border-radius: 20px; */
    }
  
    #about1b{
        line-height: 2rem;
        margin: 8% 10% 0 10%;
        text-align: center;
        font-family: "europa", sans-serif;
    font-weight: 400;
    font-style: normal;
       
    }
  
    #resum a{
      text-align: center;
      text-decoration: none;
      border-radius: 0.5555555555555556rem !important;
      padding:0.6rem;
      padding-right: 1.6666666666666667rem;
      padding-left: 1.6666666666666667rem;
      color: #d4a181;
      border: 2px solid;
      font-weight: bold;
    }

    @media only screen and (min-width:1200px) {
        #about1{
          display:flex;
          justify-content: space-between;
          margin: 0px;
      }
    
        #about1a{
          width:50%;
          height: 100%;
          margin:150px 0px 100px 150px;
          /* padding: 15px; */
          display: block;
          flex-flow: column;
          justify-content: center;
          /* text-align: justify; */
      }
    
      #about1a img{
        margin:5%;
        margin-top: 10%;
        width: 80%;
        height: auto;
        border-radius: 20px;
      }
    
      #about1b{
          width:50%;
          font-family: "europa", sans-serif;
    font-weight: 400;
    font-style: normal;
          margin:190px 198px 150px 0px;
          padding: 15px;
          padding-right:15px;
          display: block;
          flex-flow: column;
          justify-content: center;
          text-align: left;
      }}



    
    