/*<---------- Main Page ----------> */

    .head{
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        font-size: 60px;
        color: 	#F8F8FF;
        padding:30px 30px 15px 30px;
        margin:0px;
    }

    #container0{
      margin: 120px 0 0 150px;
      font-size: 15px;
      color: black;
      line-height: 1.8em;
    }

    body{
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        color: black;
        line-height: 1.8em;
        background-color: #F8F8FF;
    }
    
    #header_text h2{
      padding-top: 80%;
      text-align: center;
      font-size: 2rem;
    }

    #header_text p{
      width:48%;
      display:block;
      line-height: 2rem;
      text-align:left;
    }
    

    #cover-image {
      background-image:url(../img/bgbg.svg);
      background-repeat: no-repeat;
      /* background-size: cover; */
      /* background-position: top center;
      position: absolute; */
      /* top:0;
      left:0;
      right:0; */
      width: 100%;
      z-index: -3; 
  }

    #about1{
      text-align: center;
      justify-content: center;
      background-color: #F8F8FF;
      margin-top: 30%;
  }

    #about1a img{
      width:70%;
      height: 50%;
      border: 0;
      justify-content: center;
      box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.4), -20px -20px 20px rgba(255, 255, 255, 0.66);
      border-radius: 20px;
  }

  #about1b{
      line-height: 2rem;
      margin: 8% 10% 0 10%;
      text-align: center;
     
  }

  #resum a{
    text-align: center;
    text-decoration: none;
    border-radius: 0.5555555555555556rem !important;
    padding:0.6rem;
    padding-right: 1.6666666666666667rem;
    padding-left: 1.6666666666666667rem;
    color: #d4a181;
    border: 2px solid;
    font-weight: bold;
  }

  .navbar-expand-lg{
    background-color: #F8F8FF;
  }

  footer{
    background-color: #F8F8FF; 
  }
  
  .project_modules .col-12,
    .project_modules .col-md-6 {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 10%;
    }

  .module_link{
    width:100%;
    border-radius: 12px;
  }

  /*.module_link:hover {
    transition: all 150ms linear 0s;
    -webkit-box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
  }*/

  .module {
    position: relative;
    width: 100%;
    height: 300px;
    background:#F8F8FF;
    border-radius: 12px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255);
    border:1px solid rgba(0,0,0,0.0);
    transition: transform 0.5s;
  }

  .module_image {
    width: 100%;
    height: 300px;
    /* background: url(https://cdn-images-1.medium.com/max/2000/1*uusQu2UO2fU8HuwDaGbcyQ@2x.png); */
    background-position: center;
    background-size: cover;
  }

  .module_description {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
/*    
    transition: 150ms linear 0s; */
  }

  #healthcave_image {
    background: url(../img/healthcave.png) no-repeat;
    background-position: center;
    background-size: 40%;
  }

  #healthcave_module_description:hover {
    background:#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #dhousing_image {
    background: url(../img/dhousing.png) no-repeat;
    background-position: center;
    background-size: 40%;
  }

  #dhousing_module_description:hover {
    background:#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #explored_image {
    background: url(../img/explored.png) no-repeat;
    background-position: center;
    background-size: 15%;
  }

  #explored_module_description:hover {
    background: #eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #ui_image {
    background: url(../img/ui.png) no-repeat;
    background-position: center;
    background-size: 45%;
  }

  #ui_module_description:hover {
    background: #eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #dcc_image {
    background: url(../img/dcc.png) no-repeat;
    background-position: center;
    background-size: 60%;
  }

  #dcc_module_description:hover {
    background:	#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #cstem_image {
    background: url(../img/cstem.png) no-repeat;
    background-position: 38% 50%;
    background-size: 67%;
  }

  #cstem_module_description:hover {
    background:	#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

@media only screen and (min-width:1200px) {

    /*<--------- nav ---------->*/


    #header_text h2{
      padding: 0;
      font-size: 60px;
      text-align: unset;
    }
    
    #header_text p{
      padding: 0;
      text-align: left;
    }

    #cover-image {
      background-image:url(../img/bg.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      position: absolute;
      top:0;
      left:0;
      right:0;
      width: auto;
      height: 100vh;
      z-index: -3; 
  }

    #about1{
      display:flex;
      justify-content: space-between;
      background-color: #F8F8FF;
      margin: 0px;
  }

    #about1a{
      width:50%;
      height: 100%;
      margin:150px 0px 100px 150px;
      /* padding: 15px; */
      display: block;
      flex-flow: column;
      justify-content: center;
      /* text-align: justify; */
  }

  #about1a img{
    margin:5%;
    margin-top: 10%;
    width: 80%;
  }

  #about1b{
      width:50%;
      margin:190px 198px 150px 0px;
      line-height: 30px;
      padding: 15px;
      padding-right:15px;
      display: block;
      flex-flow: column;
      justify-content: center;
      text-align: left;
  }

  #resum a{
    text-align: center;
    text-decoration: none;
    border-radius: 0.5555555555555556rem !important;
    padding:0.6rem;
    padding-right: 1.6666666666666667rem;
    padding-left: 1.6666666666666667rem;
    color: #d4a181;
    border: 2px solid;
    font-weight: bold;
  }

  .project_modules .col-12,
  .project_modules .col-md-6 {
    padding-bottom: 0;
  }

}


/*<---------- Portfolio Pieces----------> */
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    .module_wrapper:nth-of-type(odd) {
      padding-right: 30px;
    }
  
    .module_wrapper:nth-of-type(even) {
      padding-right: 30px;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
    #header_text {
      padding: 26% 0 20% 11.5%;
    }

    #header_text p {
      font-size: 2rem;
    }

    #header_text p:nth-of-type(even) {
      font-size: 0.8rem;
      margin-bottom: 0px;
    }
   

  @media only screen and (min-device-height: 1120px) {
    /* #spacer {
      height: 0;
    } */
  }

  @media only screen and (max-device-height: 1119px) {
    /* #spacer {
      height: 220px;
    } */
  }

  #reveal_projects {
    position: absolute;
    left: 48.5%;
    top: -16vh;
  }

  .module_wrapper {
    display: flex;
    background:	#F8F8FF;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  @media screen and (max-device-width: 767px) {
    .project_modules .col-12,
    .project_modules .col-md-6 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .module_link{
    width:100%;
    border-radius: 12px;
  }

  /*.module_link:hover {
    transition: all 150ms linear 0s;
    -webkit-box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -1px 30px 1px rgba(0, 0, 0, 0.2);
  }*/

  .module {
    position: relative;
    width: 100%;
    height: 450px;
    background:#F8F8FF;
    border-radius: 12px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255);
    border:1px solid rgba(0,0,0,0.0);
    transition: transform 0.5s;
  }

  .module_image {
    width: 100%;
    height: 450px;
    /* background: url(https://cdn-images-1.medium.com/max/2000/1*uusQu2UO2fU8HuwDaGbcyQ@2x.png); */
    background-position: center;
    background-size: cover;
  }

  .module_description {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 450px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
/*    
    transition: 150ms linear 0s; */
  }

  #healthcave_image {
    background: url(../img/healthcave.png) no-repeat;
    background-position: center;
    background-size: 105%;
  }

  #healthcave_module_description:hover {
    background:#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #dhousing_image {
    background: url(../img/dhousing.png) no-repeat;
    background-position: center;
    background-size: 60%;
  }

  #dhousing_module_description:hover {
    background:#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #explored_image {
    background: url(../img/explored.png) no-repeat;
    background-position: center;
    background-size: 45%;
  }

  #explored_module_description:hover {
    background: #eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #ui_image {
    background: url(../img/ui.png) no-repeat;
    background-position: center;
    background-size: 115%;
  }

  #ui_module_description:hover {
    background: #eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #dcc_image {
    background: url(../img/dcc.png) no-repeat;
    background-position: center;
    background-size: 90%;
  }

  #dcc_module_description:hover {
    background:	#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  #cstem_image {
    background: url(../img/cstem.png) no-repeat;
    background-position: 38% 50%;
    background-size: 97%;
  }

  #cstem_module_description:hover {
    background:	#eabb97;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    border:1px solid rgba(0,0,0,0.01);
    transform: translateY(2px);
  }

  /* #googleprompt_image {
    background: url(images/googleprompt/hifi1.png) no-repeat;
    background-position: center;
    background-size: 25%;
  } */

  /* #googleprompt_module_description:hover {
    background: rgb(88, 165, 92, 0.8);
    transition: 150ms linear 0s;
  } */

  /* #google_internship_image {
    background: url() no-repeat;
    background-position: center;
    background-size: 25%;
  }

  #google_internship_module_description:hover {
    background: rgba(234, 66, 53, 0.8);
    transition: 150ms linear 0s;
  } */

    /* #ddc_image {
    background: url(images/davis_design_collective_logo.svg) no-repeat;
    background-position: center;
    background-size: 40%;
  }

  #ddc_module_description:hover {
    background: rgb(33, 173, 229, 0.8);
    transition: 150ms linear 0s;
  } */

  /* #amazonsearch_image {
    background: url(images/amazonsearch_image.svg) no-repeat;
    background-position: center;
    background-size: 50%;
  }

  #amazonsearch_module_description:hover {
    background: rgb(255, 148, 0, 0.83);
    transition: 150ms linear 0s;
  } */

  .module_description > span.project_module_text {
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0);
    z-index: 2;

    transition: 150ms linear 0s;
  }

  .module_description:hover > span.project_module_text {
    color: 	#F8F8FF;

    transition: 150ms linear 0s;
  }

  /* Fade in Animation */

  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
  }

  .animatedFadeInUp {
    opacity: 0;
  }

  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }


