
.footer {
  padding-top: 10%;
  padding-bottom: 10%;
}

.bg-light {
  background-color: #f8f9fa !important;
}

footer {
  display: block;
}

footer{
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*, *::before, *::after {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}


.footer a {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  padding: 10px;
  padding-bottom:20px;
  transition: all .5s ease;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.footer a :hover{
  color: white;
  transition: all .5s ease;
}

@media (min-width: 1200px){
.footercontainer {
  max-width: 1140px;
}}

@media (min-width: 992px){
.footercontainer {
  max-width: 960px;
}

.footer {
  padding-top: 0;
  padding-bottom: 2%;
}
}

@media (min-width: 768px){
.footercontainer {
  max-width: 720px;
}}

@media (min-width: 576px){
.footercontainer {
  max-width: 540px;
}}

@media (min-width: 1200px){
.footercontainer {
  max-width: 1140px;
}}

@media (min-width: 992px){
.footercontainer {
  max-width: 960px;
}}

@media (min-width: 768px){
.footercontainer {
  max-width: 720px;
}}

@media (min-width: 576px){
.footercontainer {
  max-width: 540px;
}
.footercontainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center!important;
}}

@media (min-width: 1200px){
.footercontainer {
  max-width: 1140px;
}}

@media (min-width: 992px){
.footercontainer {
  max-width: 960px;
}}

@media (min-width: 768px){
.footercontainer {
  max-width: 720px;
}}

@media (min-width: 576px){
.footercontainer {
  max-width: 540px;
}
}

@media (min-width: 1200px){
.footercontainer {
  max-width: 1140px;
}}

@media (min-width: 992px){
.footercontainer {
  max-width: 960px;
}}

@media (min-width: 768px){
.footercontainer {
  max-width: 720px;
}}

@media (min-width: 576px){
.footercontainer {
  max-width: 540px;
}}

.footercontainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fa-linkedin-in:before {
  content: "\f0e1";
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.fa-envelope:before {
  content: "\f0e0";
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}

i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}